/*
    DECLARACIÓN DE VARIABLES
*/

:root {
  --color-negro: #232323;
  --color-amarillo: #ffa852;
  --color-amarilloMuyOscuro: #ab5500;
  --color-amarilloOscuro: #f4912D;
  --color-blanco: #FFFFFF;
  --croissant-one: Croissant One;
  --noto-sans: Noto Sans;
}


/*
    IMPORTAR TIPOGRAFÍAS
*/

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Noto+Sans&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

/*
  CSS FORMULARIO
*/

.Upload__main__contenedor {
  min-height: 74vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Upload__main__contenedor__formulario {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    label {
      align-self: flex-start;

      font-family: var(--croissant-one);
      font-size: 1vw;

      padding: 1em 0em 0.1em 0em;

      input {
        margin-left: 2vw;
        font-family: var(--noto-sans);
        font-size: 0.8vw;
        -webkit-text-stroke: 0.5px black;
      }
    }

    ul {
      align-self: flex-start;
      padding: 0.5em 0em 0.1em 1em;

      li {
        font-family: var(--noto-sans);
        font-size: 0.7vw;
        -webkit-text-stroke: 0.5px black;
      }
    }

    textarea {
      font-family: var(--noto-sans);
      font-size: 0.8vw;
      -webkit-text-stroke: 0.5px black;
    }

    button {
      border: 1px solid black;
      border-radius: 0.3em;
      background-color: var(--color-amarillo);
    }
  }

  input[type=submit] {
    font-family: var(--croissant-one);
    padding: 0.3em 0em;
    margin: 0em auto 0em;
    width: 5vw;
    background-color: var(--color-amarillo);
    border: 1px solid black;
    border-radius: 5px;
    font-size: 0.9vw;
  }

  .error {
    font-family: var(--noto-sans);
    font-size: 0.8vw;
    -webkit-text-stroke: 0.5px red;
    color: red;
  }
}

.Upload__main__contenedor__formulario__ingredientes {

  align-self: flex-start;

  #cantidadIngredienteNuevo {
    margin: 0vh 1vw;
    width: 5vw;
  }
}

/*
  CSS FOOTER
*/

.Upload__main__footer {
  padding: 1.5em 2em;
  border-top: 2px solid var(--color-amarillo);
  margin-top: 4vh;
}

.Upload__main__footer__contenedor1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  a {
    font-family: var(--croissant-one);
    font-size: 1.1vw;
    color: black;
    text-decoration: none;
  }
}

.Upload__main__footer_contenedor1__rrss {

  svg {
    width: 1.3vw;
    margin-right: 0.5em;
  }
}

.Upload__main__footer_contenedor2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 2vh;

  a {
    text-decoration: none;
  }

  span {
    font-family: var(--croissant-one);
    font-size: 1.1vw;
    color: black;
    text-decoration: none;
  }
}