/*
  IMPORTAR SCSS
*/
@import '../mixin';
@import '../variables';
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Noto+Sans&display=swap');


/*
CSS ocultar elementos móvil
*/

.movil {
    display: none;
}

.oculto {
    display: none;
}

#viewMoreMovil {
    display: none;
}

#contenedor__fondo {
    display: none;
}

/*
CSS RESPONSIVE
*/


@media (max-width: 1434px) {

    /*
        Recetas
    */

    .main__lastrecipes__recetas__receta {
        margin: 0em 0em 2em 1em;
    }

    .main__buscador__contenedor__input {
        width: 46vw;
    }

}

@media (max-width: 1390px) {

    /*
        Contenedor video
    */
    .main__intro {
        height: 100%;
    }


}

@media (max-width: 1270px) {
    /*
        Header
    */

    .header__menu__element {
        display: inline-block;
        padding: 0em 1em;

        a {
            text-decoration: none;
            font-size: 1.5vw;
        }
    }

    .button {
        font-size: 1.5vw;
    }

    /*
        Video y texto inicio
    */

    .main__intro__titulo {
        top: 46vh;
    }

    /*
        Buscador
    */
    .main__buscador {
        padding: 1em 0em;
    }

    .main__buscador__contenedor__input {
        width: 55vw;
    }

    /*
        Recetas
    */

    .main__lastrecipes__recetas__receta {
        margin: 0em 0em 1em 0.5em;
    }

}

@media (max-width: 1100px) {
    /*
        Contenedor video y texto
    */

    .main__intro__titulo {
        top: 44vh;
    }

    /*
        Buscador
    */

    .main__buscador {

        padding: 1em 0em;

    }

    .main__buscador__texto {
        font-size: 2.2vw;
    }

    /*
      Recetas
    */

    .main__lastrecipes {
        padding: 1em 2em;
    }

    .main__lastrecipes__recetas__receta__imagen {
        height: 30vh;
    }

    .main__lastrecipes__titulo {

        span,
        a {
            font-size: 2.2vw;
        }

    }

    .main__lastrecipes__recetas__receta__titulo {
        font-size: 1.9vw;

    }

    .main__lastrecipes__recetas__receta__nombreLikes {
        padding: 0em 1em 0.5em 1em;

        span {
            font-size: 1.3vw;
        }
    }

    /*
        Receta aleatoria
    */

    .main__randomrecipe {
        height: 47vh;
    }

    .main__randomrecipe__texto {

        a {
            font-size: 2.7vw;
        }
    }

    /*
        Footer
    */

    .main__footer__contenedor1 {
        a {
            font-size: 1.8vw;
        }
    }

    .main__footer_contenedor1__rrss {

        svg {
            width: 2vw;
        }
    }

    .main__footer_contenedor2 {
        span {
            font-size: 1.8vw;
        }
    }
}


@media (max-width: 950px) {
    /*
        Contenedor video y texto
    */

    .main__intro__titulo {
        top: 38vh;
    }

}


@media (max-width: 830px) {
    .header__menu__element__contenedorImagen {
        width: 4vw;
        height: 4vw;
    }

    /*
        Contenedor video y texto
    */

    .main__intro__titulo {
        top: 34vh;
    }

}

@media (max-width: 734px) {

    /*
        Header
    */
    .header {
        padding: 1em 1em;
    }

    .header__menu__element {
        display: inline-block;
        padding: 0em 0em 0em 1em;

        a {
            text-decoration: none;
            font-size: 2.2vw;
        }
    }

    .header__logo {
        width: 15vw;
    }

    /*
      Contenedor video y texto
    */

    .main__intro__titulo {
        top: 31vh;
        left: 55%;
        width: 70%;
    }

    .main__intro__titulo_texto {
        font-size: 7vw;
    }

    /*
      Buscador
    */

    .main__buscador__contenedor__input {
        padding: 0.4em 0.4em;
    }

    /*
        Recetas
    */

    .main__lastrecipes__recetas {
        margin: 1em 0em;
    }

    .main__lastrecipes__recetas__receta__imagen {
        height: 24vh;
    }

    .main__lastrecipes__titulo {

        span,
        a {
            font-size: 2.4vw;
        }

    }

    .main__lastrecipes__recetas__receta__titulo {
        font-size: 2.2vw;

    }

    .main__lastrecipes__recetas__receta__nombreLikes {

        span {
            font-size: 1.5vw;
        }
    }

    /*
        Receta aleatoria
    */

    .main__randomrecipe {
        height: 37vh;
    }

    .main__randomrecipe__texto {

        span {
            font-size: 4.5vw;
        }

        a {
            font-size: 3vw;
        }
    }

    /*
        Footer
    */

    .main__footer__contenedor1 {
        a {
            font-size: 2.2vw;
        }
    }

    .main__footer_contenedor1__rrss {

        svg {
            width: 2.4vw;
        }
    }

    .main__footer_contenedor2 {
        span {
            font-size: 2.2vw;
        }
    }
}

@media (max-width: 630px) {
    .header__menu__element__contenedorImagen {
        width: 5vw;
        height: 5vw;
    }

    /*
        Buscador
    */

    .main__buscador__texto {
        font-size: 2.7vw;
    }

    .main__buscador__contenedor__input {
        width: 50vw;
        padding: 0.2em 0.4em;
    }

    .main__buscador__contenedor__icono {

        svg {
            width: 3vw;
        }
    }

    /*
        Recetas
    */

    .main__lastrecipes {
        padding: 1em 1em;
    }

    .main__lastrecipes__recetas {
        margin: 0.5em 0em;
    }

    .main__lastrecipes__recetas__receta__imagen {
        height: 23vh;
    }

    .main__lastrecipes__recetas__receta {

        width: 30vw;
    }

    .main__lastrecipes__titulo {

        span,
        a {
            font-size: 2.7vw;
        }

    }

    .main__lastrecipes__recetas__receta__titulo {
        font-size: 2.5vw;

    }

    .main__lastrecipes__recetas__receta__nombreLikes {

        span {
            font-size: 1.8vw;
        }
    }

    /*
        Receta aleatoria
    */

    .main__randomrecipe {
        height: 34vh;
    }

    .main__randomrecipe__texto {

        span {
            font-size: 4.8vw;
        }

        a {
            font-size: 3.3vw;
        }
    }

}

@media (max-width: 560px) {

    .header__menu__element__contenedorImagen {
        width: 6vw;
        height: 6vw;
    }


    /*
        Header
    */
    .header__logo {
        width: 20vw;
    }

    .header__menu__element {
        padding: 0em 0em 0em 0.5em;

        a {
            font-size: 2.4vw;
        }

    }


    /*
        Buscador
    */



    .main__buscador {
        padding: 0.5em 0em;
    }

    .main__buscador__texto {
        font-size: 3vw;
    }


    /*
        Recetas
    */

    .main__lastrecipes__recetas {
        margin: 1em 0em;
    }

    .main__lastrecipes__recetas__receta {
        width: 40vw;
    }


    .main__lastrecipes__titulo {

        span,
        a {
            font-size: 3vw;
        }

    }

    .main__lastrecipes__recetas__receta__titulo {
        font-size: 3vw;

    }

    .main__lastrecipes__recetas__receta__nombreLikes {

        span {
            font-size: 2.3vw;
        }
    }

    /*
        Receta aleatoria
    */

    .main__randomrecipe {
        height: 30vh;
    }

    .main__randomrecipe__texto {

        span {
            font-size: 4.9vw;
        }

        a {
            font-size: 3.9vw;
        }
    }

    /*
        Footer
    */

    .main__footer__contenedor1 {
        a {
            font-size: 2.5vw;
        }
    }

    .main__footer_contenedor1__rrss {

        svg {
            width: 2.7vw;
        }
    }

    .main__footer_contenedor2 {
        span {
            font-size: 2.5vw;
        }
    }
}

/*
CSS CAMBIO A MÓVIL
*/

@media (max-width: 476px) {
    .desktop {
        display: none;
    }

    .movil {
        display: initial;
    }

    /*
    CSS HEADER MOVIL
    */

    .header--movil {
        @include flex(wrap, center, space-between, row);


        width: 100%;
        padding: 1em 2em;

        border-bottom: 2px solid var(--color-amarillo);

        button {
            border: 0;
            background: none;
            color: var(--color-amarillo);

            svg {
                font-size: 2em;
            }
        }

        img {
            width: 10em;
        }
    }

    .movil--header__menu {

        padding: 0;
        margin-bottom: 0;

        li {
            list-style: none;
        }
    }

    .header__menu__element__contenedorImagen--movil {
        border-radius: 50%;
        overflow: hidden;
        width: 2.5em;
        height: 2.5em;

        img {
            height: 100%;
            width: 100%;
        }
    }

    /*
        CSS TITULO
    */

    .main__intro__titulo {
        top: 60vh;
        width: 100%;
        left: 50vw;
    }

    .main__intro__titulo_texto {
        text-align: center;
        font-size: 10vw;
    }


    /*
        CSS BUSCADOR
    */

    .main__buscador {
        padding: 1em 0em 0.5em 0em;
    }

    .main__buscador__texto {
        -webkit-text-stroke: 0.6px black;
        font-size: 4vw;
        padding: 0em 0.5em 0em 1.5em;
    }

    .main__buscador__contenedor__input {
        padding: 0.15em 0.3em;
    }

    /*
        CSS LAST RECIPES
    */

    .main__lastrecipes__recetas {
        margin: 1em 0em 0.5em 0em;
    }

    .main__lastrecipes__titulo {

        span {
            -webkit-text-stroke: 0.6px black;
            font-size: 5vw;
            padding-left: 6vw;
        }
    }

    .main__lastrecipes__recetas__receta__titulo {
        font-size: 3.5vw;
        -webkit-text-stroke: 0.5px black;
    }

    .main__lastrecipes__recetas__receta__nombreLikes {

        span {
            font-size: 2.8vw;
        }

        padding: 0em 1em 0.2em 1em;

    }

    .main__lastrecipes__viewMore--movil {
        color: var(--color-amarillo);
        -webkit-text-stroke: 0.6px black;
        font-family: var(--croissant-one);
        font-size: 5vw;

        display: block;
        text-align: center;
        margin-bottom: 1em;
    }

    .main__lastrecipes__viewMore--movil:hover {
        color: var(--color-amarillo);
    }

    /*
        CSS RANDOM RECIPE
    */

    .main__randomrecipe {
        height: 28vh;
    }

    .main__randomrecipe__texto {


        a {
            -webkit-text-stroke: 0.7px black;
        }

        span {
            -webkit-text-stroke: 0.7px black;
        }
    }

    /*
        CSS FOOTER MOVIL
    */

    .main__footer__contenedor1 {

        a {
            font-size: 1em;
        }
    }

    .main__footer_contenedor1__rrss {
        svg {
            width: 1em;
        }
    }
}