/*
  DECLARACIÓN DE VARIABLES
*/

:root {
    --color-negro: #232323;
    --color-amarillo: #ffa852;
    --color-amarilloMuyOscuro: #ab5500;
    --color-amarilloOscuro: #f4912D;
    --color-blanco: #FFFFFF;
    --croissant-one: Croissant One;
    --noto-sans: Noto Sans;
}


/*
    IMPORTAR TIPOGRAFÍAS
  */

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Noto+Sans&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

/*
    Foto o video
  */

.Recipe__main__foto-video__contenedor {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);

    img {
        height: 60vh;
    }

    video {
        height: 60vh;
    }
}

/*
    Titulo receta
*/

.Recipe__main__titulo__contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin: 2vh 3vw 0vh 3vw;
}

.Recipe__main__titulo__contenedor__titulo {
    color: var(--color-amarillo);
    -webkit-text-stroke: 1px black;
    font-family: var(--croissant-one);
    font-size: 1.7vw;
}

.Recipe__main__titulo__contenedor__usuarioLikes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 15vw;

    span {
        font-family: var(--croissant-one);
        font-size: 1.2vw;
    }
}

.Recipe__main__titulo__contenedor__usuarioLikes__contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Recipe__main__titulo__contenedor__usuarioLikes__contenedor__delete {
    border: none;
    background: none;
    padding-left: 1vw;
}

.Recipes__main__titulo__contenedor__usaurioLikes__icono {
    color: var(--color-amarillo);
    font-size: 1vw;
    padding-left: 0.5vw;

    height: 1.2vw;

    path {
        fill: var(--color-amarillo);
    }

}

/*
    Descripcion, ingredientes, pasos
*/

.Recipe__main__contenido__contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin: 2vh 3vw 0vh 3vw;
}

.Recipe__main__contenido__contenedor__descripcion {

    width: 30vw;
    overflow: scroll;

    span {
        font-family: var(--noto-sans);
        -webkit-text-stroke: 0.5px black;
    }

    height: 40vh;
}

.Recipe__main__contenido__contenedor__ingredientes {
    width: 30vw;
    overflow: scroll;
    padding: 0vh 2vw 0vh 2vw;
    height: 40vh;

    border-left: 2px solid var(--color-amarillo);
    border-right: 2px solid var(--color-amarillo);

    span {
        color: var(--color-amarillo);
        -webkit-text-stroke: 1px black;
        font-family: var(--croissant-one);
        font-size: 1.2vw;
    }

    li {
        font-family: var(--noto-sans);
        -webkit-text-stroke: 0.5px black;
        padding: 1vh 0vw 1vh 0.5vw;
        margin-left: -1.3vw;
    }

}

.Recipe__main__contenido__contenedor__pasos {
    width: 30vw;
    overflow: scroll;
    height: 40vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    span:not(:first-of-type) {
        font-family: var(--noto-sans);
        -webkit-text-stroke: 0.5px black;
    }
}

.Recipe__main__contenido__contenedor__pasos__titulo {
    color: var(--color-amarillo);
    -webkit-text-stroke: 1px black;
    font-family: var(--croissant-one);
    font-size: 1.2vw;
}

/*
    CSS FORMULARIO COMENTARIO
*/

.Recipe__main__formularioComentario__titulo {
    color: var(--color-amarillo);
    -webkit-text-stroke: 1px black;
    font-family: var(--croissant-one);
    font-size: 1.7vw;
}

.Recipe__main__formularioComentario {
    width: 100vw;
    padding: 4vh 2vw 4vh 2vw;

    form {
        height: 20vh;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        fieldset {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            width: 30vw;

            label {
                font-family: var(--croissant-one);
                font-size: 1vw;

                padding-right: 10vw;
            }

            input[type=file] {
                margin: 1.5vh 0vw;
            }

            input[type=submit] {
                font-family: var(--croissant-one);
                padding: 0.3em 0em;
                width: 7vw;
                background-color: var(--color-amarillo);
                border: 1px solid black;
                border-radius: 5px;
                font-size: 0.9vw;
            }
        }
    }
}

.error {
    color: red;
    font-size: 0.8vw;
    font-family: var(--croissant-one);
    padding: 0.3em 0em 0em 0em;
}

/*
    CSS COMENTARIO
*/

.Recipe__main__comentarios__contenedorImagen {
    border-radius: 50%;
    overflow: hidden;
    width: 3vw;
    height: 3vw;

    img {
        height: 100%;
        width: 100%;
    }
}

.Recipe__main__comentarios {
    width: 100wv;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Recipe__main__comentarios__comentario {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    padding: 2vh 0vw;
}

.Recipe__main__comentarios__comentario__contenedorUser {
    width: 50vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    span {
        font-family: var(--croissant-one);
        font-size: 1vw;
        padding-left: 1vw;
    }
}

.Recipe__main__comentarios__comentario__contenedorUser__delete {
    border: none;
    background: none;
    padding-left: 2vw;
}

.Recipe__main__comentarios__comentario__imagen {
    width: 100%;
    padding: 2vh 0vw;

    img {
        display: block;
        margin: auto;
        object-fit: contain;
        height: 45vh;
    }
}

.Recipe__main__comentarios__comentario__contenido {
    margin-left: 2vw;
    font-family: var(--noto-sans);
    -webkit-text-stroke: 0.5px black;
    font-size: 0.9vw;

    svg {
        fill: var(--color-blanco);
    }
}

.lineaPadre {
    width: 30vw;
    align-self: center;
    border: 1px solid var(--color-amarillo);
}

.Recipe__main__comentarios__comentario--hijo {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    align-self: flex-end;

    padding: 2vh 0vw;
}

.Recipe__main__comentarios__comentario__contenedorUser--hijo {
    width: 35vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    span {
        font-family: var(--croissant-one);
        font-size: 1vw;
        padding-left: 1vw;
    }
}

.Recipe__main__comentarios__comentario__imagen--hijo {
    width: 100%;
    padding: 2vh 0vw;


    img {
        display: block;
        margin: auto;
        object-fit: contain;
        height: 35vh;
    }
}

.Recipe__main__comentarios__comentario__contenido--hijo {
    margin-left: 2vw;
    font-family: var(--noto-sans);
    -webkit-text-stroke: 0.5px black;
    font-size: 0.8vw;
}

.lineaHijo {
    width: 20vw;
    align-self: center;
    border: 1px solid var(--color-amarillo);
}

/*
    CSS FORMULARIO COMENTARIO HIJO
*/

.Recipe__main__comentarios__comentario__formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 2vh 0vw;

    width: 100%;

    label {
        font-family: var(--croissant-one);
        font-size: 1vw;
    }

    textarea {
        font-family: var(--noto-sans);
    }

    input[type=file] {
        margin-left: 10vw;
    }

    input[type=submit] {
        display: block;
        font-family: var(--croissant-one);
        margin-top: 0.5vw;
        padding: 0.3em 0em;
        width: 7vw;
        background-color: var(--color-amarillo);
        border: 1px solid black;
        border-radius: 5px;
        font-size: 0.9vw;
    }
}

/*
    CSS FOOTER
*/

.Recipe__main__footer {
    padding: 1.5em 2em;
    border-top: 2px solid var(--color-amarillo);
}

.Recipe__main__footer__contenedor1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    a {
        font-family: var(--croissant-one);
        font-size: 1.1vw;
        color: black;
        text-decoration: none;
    }
}

.Recipe__main__footer_contenedor1__rrss {

    svg {
        width: 1.3vw;
        margin-right: 0.5em;
    }
}

.Recipe__main__footer_contenedor2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;

    a {
        text-decoration: none;
    }

    span {
        font-family: var(--croissant-one);
        font-size: 1.1vw;
        color: black;
        text-decoration: none;
    }
}