:root {
    --color-negro: #232323;
    --color-amarillo: #ffa852;
    --color-amarilloMuyOscuro: #ab5500;
    --color-amarilloOscuro: #f4912D;
    --color-blanco: #FFFFFF;
    --croissant-one: Croissant One;
    --noto-sans: Noto Sans;
}

* {
    margin: 0;
    box-sizing: border-box;
}